body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 40px;
    
}
.orange-color{
    color: orange;
}
section{
    display: flex;
    margin-left: 5%;
    
}
}
.container{
    width: 30%;
    height: 50%;
    margin-bottom: 30px;
}
.container img{
    width: 50%;
    padding-right: 2;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, blue);
    padding: 5px 20px;
    color: orange;
    font-weight: 1000;
    border-radius: 5px;
}
    
.about-banner{
    background-image: url(Images/7.png);
    background-repeat: no-repeat;
    background-position: left;

}
.about-me{
    background-image: url(Images/7.png);
    background-repeat: no-repeat;
    background-position: left;
}
.recipies{
    text-align: center;
    padding: 20px;
}
.recipies p{
    text-align: center;
    padding: 20px;
    margin-left: 250px;
    margin-right: 250px;
}
.parent-class{
    width: 20%;
    border-radius: 30px;
    margin-bottom: 10px;
    box-shadow: 5px 5px 5px;

}
.child-class{
    width: 50%;
    border-radius: 30px;
    
}
large-width{
    width: 80%;
    margin-left: 150px;
    border-radius: 30px;
    box-shadow: 2px 2px 20px gray;
    margin-bottom: 100px;
}
extra-width{
    width: 30%;
    padding: 30px;
    margin-left: 80px;
}
footer{
    text-align: center;
    background-color: black;
    padding: 50%
}
footer p{
    text-align: center;
    color: white
}
footer h2{
    color: orange;
}

}
}
