body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
.flexible-container{
    dispaly; flex;
    margin-bottom: 100px;
}
.half-width{
    width: 100%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, blue);
    padding: 5px 20px;
    color: blue;
    font-weight: 1000;
    border-radius: 5px;
}
    
